@import "@fortawesome/fontawesome-free/css/all.css";

@font-face {
    src: url(../../fonts/Satoshi-Variable.ttf);
    font-family: satoshi;
}

body{
  font-family: satoshi;
}

@tailwind base;

a{
  @apply hover:text-yellow-400;
}

@tailwind components;

.form-control{
  @apply bg-gray-100 border-2 border-gray-600 w-full p-4 rounded-lg;
}
.form-btn{
  @apply bg-blue-500 text-white px-4 py-3 mx-2 rounded font-medium w-full;
}

@tailwind utilities;

/* Custom css, tailwind line-clamp plugin didn't cooperate */
.line-clamp-6{
overflow: hidden;
display: -webkit-box;
-webkit-box-orient: vertical;
-webkit-line-clamp: 6;
}

.gradient{
  background-image: url('/images/header_pattern.png');
  background-size: cover;
}

/* AlpineJS Flashing hidden menus fix*/
[x-cloak]{display:none;}
